<table mat-table [dataSource]="dataSource">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef> 品名 </th>
    <td mat-cell *matCellDef="let product">
      <img [src]="product.imageUrl" alt="商品圖片" height="90">
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> 品名 </th>
    <td mat-cell *matCellDef="let product"> {{product.title}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> 類別 </th>
    <td mat-cell *matCellDef="let product"> {{product.category}} </td>
  </ng-container>

  <ng-container matColumnDef="origin_price">
    <th mat-header-cell *matHeaderCellDef class="text-end"> 原價 </th>
    <td mat-cell *matCellDef="let product" class="text-end"> {{product.origin_price}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="text-end"> 現價 </th>
    <td mat-cell *matCellDef="let product" class="text-end"> {{product.price}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="text-end"> </th>
    <td mat-cell *matCellDef="let product" class="text-end">
      <button mat-flat-button color="primary" [routerLink]="product.id">
        詳細資料
      </button>
    </td>
  </ng-container>
</table>

<div *ngIf="isLoading" class="spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>

<mat-paginator [class.display-none]="isLoading" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
