<div class="layout">

  <mat-toolbar class="topbar" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-container *ngIf="isXSmall">
      <h1 class="topbar-title">Puzzle Shop 後臺</h1>
    </ng-container>
    <ng-container *ngIf="!isXSmall">
      <img class="topbar-logo" src="assets/logo1.png" alt="logo">
      <h1 class="topbar-title">後臺管理系統</h1>
    </ng-container>

    <span class="spacer"></span>

    <button mat-raised-button class="logout-btn" aria-label="Log out" color="primary" (click)="logout()">
      <span class="logout-btn-content">
        登出
        <mat-icon matSuffix>logout</mat-icon>
      </span>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isXSmall ? 'over' : 'side'" class="sidenav" [opened]="true">
      <mat-nav-list>
        <a mat-list-item *ngFor="let navItem of navItems" routerLinkActive="mdc-list-item--activated"
          [routerLink]="navItem.link" (click)="isXSmall ? sidenav.close() : null">{{navItem.name}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
      <span class="spacer"></span>
      <div class="footer">v0.0.0</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
